body{
    background-image: url("as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: blue;
}
p{
    text-align: center;
}
td{
    text-align: center;
    font-weight: 600px;
}